<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/htmx.org@1.9.11"></script>
        <title>online chat site</title>
    </head>
    <body style="background-color: black;color: white;">
        <h1>ЧАТ</h1><span style="text-align: right;"><a href="http://localhost:8085/about">about</a></span>
        <form hx-post="/sendMessage" hx-target="#chat-box" hx-swap="beforeend" >
            <input type="text" name="user-message" id="user-message" required>
            <input type="submit" value="send" hx-trigger="throttle:3" onClick="location.reload(true)">
        </form>
        <div name="chat-box" id="chat-box" style="height: 1000px; width: 200px; border:3px;border-color: white; border-style: solid;">
            {{ range . }}
               <p> {{.}} </p>
            {{ end }}
        </div>
    </body>
</html>